@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@500;600&family=Big+Shoulders+Display:wght@700&family=Cairo:wght@700&family=Inter:wght@400;700&family=Jomhuria&family=Karla:wght@400;700&family=Lexend+Deca&family=Open+Sans:wght@300&family=Outfit:wght@300;400;600&family=Pacifico&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@400;500;700&family=Rowdies:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.special-heading {
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.special-heading+p {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  margin-top: 15px;
  color: #838383;
  margin-bottom: 30px;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* start-header */
header {
  padding: 10px;
  background-color: #DDDDDD;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: fixed; */
}
header .container i{
  color: #000;
}

.awsom {
  margin-right: 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 25px;
  font-weight: 600;
  color: #000;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 10px 20px;
  color: #000;
}

nav ul li a:hover {
  color: gray;
}

.links .icon {
  display: none;
}

/* end-header */
/* start-landing */
.landing {
  background-color: #DDDDDD;
  height: calc(100vh - 40px);
  background-color: #000;
}

.landing .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .left-text {
  width: 500px;
}

.container .left-text h1 {
  margin-bottom: 30px;
  line-height: 1.2;
  font-size: 40px;
}

.container .left-text p {
  margin-bottom: 30px;
  line-height: 1.5;
  color: #838383;
}

.container .left-text .btn {
  padding: 10px 30px;
  background-color: #fff;
  color: #000;
  width: 150px;
  text-align: center;
  margin: 0;
}

.container .image {
  /* width: 538px; */
  width: 500px;
  margin-top: 65px;
}

.container .image img {
  width: 100%;
  height: 100%;
}

/* end-landing */
/* start-coll */
.collection {
  padding-top: 30px;
}

.collection .container .col {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.col .image-col img {
  width: 100%;
  height: 100%;
}

/* end-coll */
/* start-feat */
.feat {
  /* background-color: #ffffff; */
  background-color: #000;
  padding-top: 30px;
}

.feat .container .col {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}

.col .image-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  margin-top: 15px;


}

.col .image-col img {
  width: 100%;
}

.col .image-col h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.col .col-2 .wit-bg {
  position: relative;
}

.col .col-2 .wit-bg::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 70px;
  /* background-color: #fff; */
  background-color: #000;
  bottom: 3px;
  right: -72px;

}

.container .btn {
  padding: 10px 30px;
  color: #000 ;
  background-color: #fff;
  text-align: center;
  width: 150px;
  margin: 0 auto;
  margin-top: 40px;
  cursor: pointer;
  border: 2px solid transparent;
}

.container .btn:hover {
  border-color: #fff;
  color: #fff;
  background-color: transparent;
}

/* end-feat */
/* start-landing-2 */
.landing-2 {
  /* background-color: #fff; */
  background-color: #000;
  margin-top: 100px;
}

.landing-2 .left-text p {
  max-width: 400px;
}

/* end-landing-2 */
/* start services */
.services {
  padding-top: 50px;
  padding-bottom: 50px;
}

.services .container .content-serv {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}

.services .container .content-serv .culm .serv {
  max-width: 200px;
  margin-bottom: 35px;
}

.services .container .content-serv .culm .image {
  margin-top: 0;
  max-width: 250px;
  height: 300px;
}

.services .container .content-serv .culm .serv i {
  font-size: 30px;
}

.services .container .content-serv .culm .image .bot-imag {
  width: 100%;
}

.services .container .special-heading {
  text-align: center;
  padding-left: 250px;
  padding-bottom: 30px;
}

.culmons .culm .right-text {
  max-width: 200px;
}

.culm .right-text .btn {
  margin-left: 0;
  margin-right: 0;
}

/* end services */
/* start-cards */
.profile-card .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.profile-card .special-heading{
  padding-top: 50px;
}
.cards .card {
  box-shadow: 0 0 10px #b5b5b5fd;
  padding: 30px;
  border-radius: 15px;
}

.five-stars {
  margin-bottom: 40px;
}

.five-stars i {
  color: gold;
}

.card .pi-text {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.card .pi-text img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.arrow i {
  font-size: 40px;
  margin-left: 50px;
}

.arrow i:first-child {
  color: #838383;
}
.cards .card p{
font-size: .8em;
}

/* end-cards */
/* start-footer */
footer {
  /* background-color: #05053d; */
  background-color: #000;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 10px;
}

.col-foo ul li {
  list-style: none;
}

.col-foo ul li a {
  color: #929191;
  font-size: 13px;
}

.col-foo h3 {
  margin-bottom: 20px;
}

.col-foo p {
  margin-bottom: 20px;
  font-size: 13px;
  color: #929191;
  width: 300px;
}

.col-foo input {
  margin-bottom: 30px;
  padding: 10px 0;
  padding-right: 100px;
}

footer .footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.social i {
  margin-right: 10px;
}

/* end-footer */

@media (max-width: 767px) {
  .container .links {
    display: flex;
    flex-direction: column;
  }

  header .container {
    position: unset;
    flex-direction: column;
  }

  .links .icon {
    display: block;
    align-self: flex-end;
    margin-left: 360px;
  }

  .logo {
    font-size: 20px;
    align-self: flex-start;
  }

  .container .links ul {
    display: none;
  }

  .container .links:hover ul {
    display: block;
    text-align: center;
    background-color: #c5c3c3;
    border-radius: 20px;
    box-shadow: 0 0 10px #c6c6c5;
    padding: 50px 80px;
  }

  .links ul li:not(:first-child) {
    margin-top: 10px;
    padding: 10px 0;
  }

  .links ul li a {
    font-size: 20px;
    font-weight: bold;
  }
  .landing{
    padding-top: 25px;
  }
  .landing .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .landing .container .image {
    margin-top: 15px;
    width: 250px;
  }

  .container .left-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 300px;
    text-align: center;
  }

  .container .left-text h1 {
    font-size: 25px;
  }

  .container .image {
    width: 300px;
  }

  .left-text .btn {
    margin-bottom: 15px;
    width: 100px;
  }

  .landing {
    height: 100vh;
  }

  .landing-2 .container .image {
    margin-top: 30px;
    width: 340px;
  }

  .col .col-2 {
    margin-bottom: 50px;
  }

  .col .col-2 .wit-bg::before {
    bottom: -6px;
  }

  .container .btn {
    margin-top: 20px;
  }

  .services .container .special-heading {
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .services .container .special-heading br {
    display: none;
  }

  .services .container .content-serv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .culm .right-text .btn {
    margin: 0 auto;
    margin-top: 20px;
  }
  .arrow i:first-child {
    color: #838383;
    margin-left: 0;
  }
.col .col-2 .wit-bg::before{
  display: none;
  }
  .col .image-col h3 {
    margin-bottom: 20px;
  }
  .col .image-col p{
    margin-top: -20px;
  }
  .feat .container .btn{
    margin-bottom: 20px;
  }
  .services .container .special-heading{
    margin-top: 80px;
  }
}